<mat-tab-group animationDuration="1000ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <h5 >Woman FellowShip</h5>
    </ng-template>
   
        <div style="background-color: #2C1E59;">
          <p>
            We seek to present women mature in Christ.
            We are Women of Purpose who Assimilate (seek out and bring in women), Develop (cultivate the potential in
            women)
            and Deploy (intentionally provide venues for works of service) by creating an atmosphere that promotes a
            more intimate
            relationship with Christ and by formulating a sisterhood that generates a spirit of safety in Bible study,
            in serving,
            in fellowship and in the gifts of helps to all women.The Women's Fellowship ministry encourages women in
            participating
            in God's Ministry for the spiritual growth of family, children and the society. Every Friday women of our
            church meet.
            They do chain of prayers on third Saturday of every month from night until early
            in the morning.Ps.Y.Esther Rani(W/O Rev.Y.Sisir Kumar) responsibly leads as the mentor.
            They also visit sick people and pray for them.
          </p>
        </div>

      
    <div style="background-color: #34232b;">
      <img src="/assets/images/w1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
      <img src="/assets/images/w2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/w4.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/w5.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/w6.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/w8.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <h5>Camp Ministry</h5>
    </ng-template>
    
        <div style="background-color: #2C1E59;">
          <p>
            This remarkable ministry  is an outreach ministry and an extension of our ministry
             wings of UTGC ,Abudhabi. Thousands of workers come from the Indian sub-continent to 
             work in construction and other projects in the UAE. They live away from their 
             families, in challenging work environment with limited income and reside at camps 
             located away from the city in industrial areas with modest living conditions.
              Our ministry coordinators from Men’s fellowship take the good news of Our Lord and
               Savior Jesus Christ to those individuals who look for peace, meaning of life and
                divine help in times of need.

               Every Tuesday evening, worship and prayer meetings are conducted by members of our
             church in various camps  to help people living in camps deal with their issues from
              a spiritual viewpoint.
          </p>
        </div>

    <div>
      <img src="/assets/images/camp/1.jpeg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/camp/6.jpeg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/camp/2.jpeg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/camp/3.jpeg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/camp/5.jpeg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/camp/4.jpeg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <h5>Kids for Christ </h5>
    </ng-template>
    
        <div style="background-color: #2C1E59;" >
          <p>
            The Ministry to Children exists to provide a safe environment where children can begin their early learning about God, while parents are learning and growing so are their children.
To provide loving, well planned Christian programs, activities and events that impact little lives that will grow to make a BIG impact for God, community and nation.
Faithful to reach teach children about God and His love.
Fearless in leading children to experience dynamic Christ –centered worship in a fun environment.
Fruitful as we partner with parents in facilitating a child’s growing relationship with God.
          </p>
        </div>

      
        
    <div>
      <img src="/assets/images/kfc/1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/kfc/2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/kfc/3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/kfc/4.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/kfc/5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/kfc/6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <h5>Choir Minisrty </h5>
    </ng-template>
    
        <div style="background-color: #2C1E59;" >
          <p>
            Let the word of Christ dwell in you richly, teaching and admonishing one another in all wisdom, singing psalms and hymns and spiritual songs, with thankfulness in your hearts to God. – Colossians 3:16

The purpose of our Church Choir is to enrich, inspire, motivate and engage the community in hymns and sacred songs.
 They lead the congregation in worship, and through this form, prayer is expressed in a more attractive way.

It is our prayer that as part of music ministry, choir members can offer a unique sacrifice of praise to God.
Br.James is the choir master and leads the team very effectively.Our musicians and singers glorify the Lord through their passionate commitment.
          </p>
        </div>

    <div>
      <img src="/assets/images/choir/1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/choir/2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/choir/3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/choir/4.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/choir/5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/choir/6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <h5>Bible Colleage </h5>
    </ng-template>
    
        <div  style="background-color: #2C1E59;">
          <div>
          <p >
            In 2013 UTGC started a denomination of seminary in assocation with "Victory Bibile Schools" .in Abudhabi. The Bible College is formed  is carried forward based on the word of God from Colossians:3:16 “Let the word of Christ dwell in you richly in all wisdoms; Teaching  and admonishing one another in Psalms and hymns and spiritual songs, singing with grace in your hearts to the Load”.
            </p>
            <p>
              Our vision is to equip the people through theological education that fosters the ability to communicate the Christian faith intelligently and with conviction in word and action. 
            </p>
            <p>
              The college has Rev.Y.Sisir Kumar as the principal and as the teacher. Ps.Y.Esther Rani  is acting as the registrar. She studied theological  education from Institute of Ministry, America. Br. K.P.Raju is acting as the local administrator. 
            </p>
            <p>
              In 2016, 8 students completed their 2 years D.Th course and graduated. Dr.Phil Deristine, president , Gospel Crusade, was the chief guest for this Graduation ceremony.        
            </p>
            <p>
              We are thankful to have such an experienced group to invest in our strategist leadership.  
            </p>
        </div>

    <div >
      <img src="/assets/images/bc/1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/bc/2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/bc/3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/bc/4.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/bc/5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/bc/6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div>
  </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <h5>Photos</h5>
    </ng-template>
    <section class="gallery" style="margin-left: 25%; margin-top: 2%; ">
      <div class="container">
        <div class="img-container">
          <img src="/assets/images/gallery.jpg" alt="imgage1" id="preview">
          <div class="img-prev text-center">
            <div class="img-slide active">
              <img src="assets/images/gallery.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/prayer.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/sermons.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/contact.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/download.jpg" alt="image2" appGallary>
            </div>
          </div>
        </div>
      </div>
    </section>


  </mat-tab>

</mat-tab-group>