<div class="bgcolor" >
<div id="gradient">
      Board of Trustees
</div>
<div class="container" style="height: 40%;" >
    <div class="bottom-left">
        <div class="column" >
            <div class="zoom" >
                <div class="shadowBox" >
                    <div class="card" >
                         <img src="/assets/images/Bot/Wiclief.jpeg"   style="width:100%;height:100% " >
                        <div class="container">
                            <h5>John Wiclief Dondapati</h5>
                            <!-- <p class="title">PRO,Auditor & AV in-charge</p> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card">
                         <img src="/assets/images/Bot/James.jpg"  style="width:100%;height:100% " >
                        <div class="container">
                            <h5 style="font-family: Copperplate,Copperplate Gothic Light,fantasy; ">James Pidakala</h5>
                            <!-- <p class="title">--------</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card">
                         <img src="/assets/images/Bot/Sathish.jpeg"  style="width:100%;height:100% " >
                        <div class="container">
                            <h5>Sathish Karanam</h5>
                            <!-- <p class="title">--------</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" >
            <div class="zoom" >
                <div class="shadowBox" >
                    <div class="card" >
                         <img src="/assets/images/Bot/Shyam.jpeg"   style="width:100%;height:100% " >
                        <div class="container">
                            <h5>Shyam Dasari</h5>
                            <!-- <p class="title">PRO,Auditor & AV in-charge</p> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card">
                         <img src="/assets/images/Bot/David.jpeg"  style="width:100%;height:100% " >
                        <div class="container">
                            <h5>David Murala</h5>
                            <!-- <p class="title">Cashier</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card">
                        <img src="/assets/images/Bot/Rapaka_Raju.jpeg"  style="width:100%;height:100% " >
                        <div class="container">
                            <h5> RajuRapaka </h5>
                            <!-- <p class="title">Cashier</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
               
    </div>
</div>
<div class="container" style="height: 50%;" >
    <div class="bottom-left">
        <div class="column1" >
            <div class="zoom" >
                <div class="shadowBox" >
                    <div class="card" >
                        <img src="/assets/images/Bot/Kishore.jpeg"  style="width:100%;height:100% " >
                        <div class="container">
                            <h5>Kishore Torlapati</h5>
                            <!-- <p class="title">PRO,Auditor & AV in-charge</p> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" >
            <div class="zoom" >
                <div class="shadowBox" >
                    <div class="card" >
                         <img src="/assets/images/Bot/Naresh.jpeg"   style="width:100%;height:100% " >
                        <div class="container">
                            <h5>Naresh Vadlakonda</h5>
                            <!-- <p class="title">--------</p> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card">
                       
                            <!-- <p class="title">Cashier</p> -->
                            <img src="/assets/images/Bot/Krishna_Joseph.jpeg"   style="width:100%;height:100% " >
                            <div class="container">
                                <h5>Krishna Joseph Bunga</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card">
                         <img src="/assets/images/Bot/Edward.jpeg"  style="width:100%;height:100% " >
                        <div class="container">
                            <h5>Edward</h5>
                            <!-- <p class="title">--------</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="column" >
            <div class="zoom" >
                <div class="shadowBox" >
                    <div class="card" >
                         <img src="/assets/images/Bot/Ravi.jpeg"   style="width:100%;height:100% " >
                        <div class="container">
                            <h5>Ravi Tadi</h5>
                            <!-- <p class="title">PRO,Auditor & AV in-charge</p> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>

<!-- <footer class=""md-padding>
    <div  id="btmFooter" flex>
     <app-footer></app-footer>
    </div> 
</footer> -->
</div>

</div>
 
<app-footer></app-footer>     
    