.bgcolor
{
    width: 100%;
    height: 120%;
    /* background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
  }
.bottom-left {
    /* position: absolute; */
    vertical-align: middle;
    text-align: center;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 20%; */
    font-size: 12px;
    color: white;
}
.zoom {
padding: 10%;
transition: transform .2s; /* Animation */
width: 190px;
height: 50px;
}  
.shadowBox {
border: 2px solid;
padding: 2%;
box-shadow: 5px 10px;
}
.zoom:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.mainbox{
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
.column {
float: left;
width: auto; 
margin-bottom: 15%;
margin-left: 5px;;
padding: 0 2px;
}
.column1 {
  float: left;
  width: auto; 
  margin-bottom: 19%;
  margin-left: 10%;;
  padding: 0 2px;
  }
.container>div{
flex: 0 50%;
box-sizing: border-box;
}

  .title {
    /* color: grey; */
    color: rgb(44, 2, 36);
    font-size: x-small
  }

  #gradient {
    /* margin-top: 5px; */
    border-left: 4px solid #affb0b;
    margin-top: 0%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    max-width: 28%;
    margin-left: 3%;
    color: white;
    
  background: linear-gradient(to right, rgb(1, 7, 31), rgba(255, 122, 89,0));
  }
  .textalign
  {
    padding-left: 30px;
    color: white;
  }
  #btmFooter
  {
    align-self: flex-end;
  }

  footer
  {
    background-color: brown;
  }

  h5{
    font-family: Copperplate,Copperplate Gothic Light,fantasy;  
  }

  