
 .bottom-left {
  position: absolute;
    /* top: 76.6%;  */
   vertical-align: middle;
  text-align: center;
  font-family: cursive;
   font-weight: 20px; 
  font-size: small;
  color: rgb(14, 14, 14);
  width: 100%;
  height: 150%;

}
.framesize{
  height: 0px;
}
mat-grid-tile-header{
  
  font-family: cursive;
  /* font-size: 15px; */
}
mat-grid-tile
{
  /* margin-top: 1%; */
  /* padding-top: 2%; */
  font-size: 13px;
  font-family: cursive;
  
}

.bottom-content {
  position: absolute;
   top: 60%; 
   vertical-align: middle;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 20px; */
  font-size: small;
  /* color: rgb(14, 14, 14); */
  /* width: auto;
  height: auto; */
}
.zoom {
padding: 10%;
transition: transform .2s; /* Animation */
width: 200px;
height: 100px;
/* background-color:red; */
}  
.shadowBox {
border: 5px solid;
padding: 4%;
box-shadow: 5px 10px;

}
.zoom:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/* background-color: green; */
 }
 /* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: orange;
} */
.mainbox{
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
.column {
float: left;
width: auto; 
margin-bottom: 20px;
margin-left: 40px;;
padding: 0 2px;
/* background-color:white */
}
.container>div{
flex: 0 50%;
box-sizing: border-box;


}
.div1{
   /* background-color: red;  */
  width: 100%;
  height: 400%; 
   
}

#myDIV {
  /* width: 300px;
  height: 200px; */
  border: 5px solid coral;
  animation: mymove 5s infinite;
  background-color:yellow
}
@keyframes mymove {
  50% {border-color: lightblue;}
}

.container {
  position: relative;
  text-align: left;
  /* color: rgb(228, 14, 14); */
  width: 100%;

color: white;
}

p{
  color:white;
  border-bottom: 2px solid #FDDF7F;
  text-align: left;
  padding-left: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: medium;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.para {
  border-bottom: 2px solid #FDDF7F;
   border-left: 4px solid #7ffda5;
  position: static;
  padding-left: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: white;
 
} 

#gradient {
  padding-left: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 10px solid #FDDF7F;
  margin-top: 2%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  height: 23px;
  font-size: 20px;
  vertical-align: middle;
  text-align: left;
  max-width: 58%;

  color: white;
  
  background: linear-gradient(to right, rgb(1, 7, 31), rgba(255, 122, 89,0));
}
.txtcenter
{
  text-align: center;
}

.color{
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
  background: linear-gradient(to right, #000066 0%, #cc00cc 100%);
  color: white;

} 
.color1{
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
  color: white;
  overflow-wrap: break-word;
  height: auto;
  overflow: visible;
  box-sizing: border-box;
  width: 420px;
  height: 350px;
  /* border: 2px solid; */
  /* background-color: red; */
 overflow-x: scroll;
}

