<div class="bottom-left" 
        style="background-image: linear-gradient(to left, #000066 0%, #cc00cc 100%);">
            <div class="column"  >
                <div class="zoom"  >
                    <div class="shadowBox"  >
                        <div id="myDIV"  style="background-color: #4682B4;">
                        <div class="card"  >
                             <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
                            <div class="container"  >
                               <h2 class="txtcenter" >About Us</h2>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FFA500;">
                             <img src="/assets/images/contact.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #2ECC71;">
                             <img src="/assets/images/sermons.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Sermons</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FF1493;">
                             <img src="/assets/images/gallery.jpg"  [routerLink]="['/gallery']" style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Gallery</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #1E90FF;">
                             <img src="/assets/images/prayer.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Prayer Request</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="para"> Welcome to the United Telugu Gospel Church(UTGC) of Abu Dhabi,  
                At UTGC our Mission is to be and make authentic followers of Jesus Christ- to worship God passionately, 
                to preach and teach His word faithfully, and to server others in love, as we share His Gospel through out the world.
                <b> We invite you to join  us.</b>
            
               </p>
               <div id="gradient">
                About Us
              </div>
            
               <p >At UTGC we remember and honor the days of old and consider the many people that laid the ground work for our mission and purpose today.<br>
               Take a look at out history and you will see how our past inspires our future. Unfold to the untold and the will of god at any cost was the driving force behind the formation of UTGC on 1991.<br>
               Brother K.P. Raju and brother Nalli Prabu Manohar families started the prayers and let the
                congregation with submission and sacrifices’ in their homes to praise God and to preach word 
                of God in English and Telugu . Brother Bayya Christopher was the pastor. Under the leadership
                 of pastor at that time the congregation increases to 100’s.  Then the church moves to the
                  “The Evangelical compound”. First the prayer started in upper chapel 1 and it move to main
                   hall 1....
                   
                   <!-- <a [routerLink]="['/aboutus']" ariaCurrentWhenActive="page" routerLinkActive="active" >dssdsds</a> -->
               <a  style="color: aquamarine;" mat-button (click)="aboutus()">Click here to read more</a> 
            </p>
               <app-footer></app-footer>
    </div>
    <!--  -->