<div class="bgcolor">
<mat-grid-list cols = "3" rowHeight = "270px">
  <mat-grid-tile  style="border: 0px solid;"
  [colspan] = "1"
  [rowspan] = "1">
  <div class="container">
   <img src="/assets/images/prayerreq.jpg"   style="width:100%;height:100%;  "  /> 
  </div> 
  </mat-grid-tile>

  

  <mat-grid-tile style="align-items: auto;border: 0px solid;  " 
  [colspan] = "1"
  [rowspan] = "2">
  <div class="container">
    <div id="gradient">
      Why Prayer?
    </div>
<p>   Ask, and it will be given to you; seek, and you will find; knock, and it will be opened to you.  For everyone who asks receives, and the one who seeks finds, and to the one who knocks it will be opened.  (Matthew 7:7-8)
  <br>
  <p>The Bible encourages us to approach God boldly in prayer (Hebrews 4:16). When we pray according to God’s will (1 John 5:14), we can come before Him boldly, not based on who we are or what we’ve done but based on who Christ is and what He has accomplished for us by His life, death, resurrection, and exaltation.
</p>
<p>  The power of prayer cannot be understated. Many people see their spirits lifted when they call upon their faith for answers. Praying alone is an effective way of dealing with any issues in your life and sharing them with God. You put your life in His hands and have faith that a solution will come to pass. There's an emotional release that comes with praying, almost as though you cast your problems aside as you know they're being dealt with by God.
  The best thing about praying is that it doesn't have to be an individual thing. In fact, 
  the power of prayer is more potent when multiple people pray for the same causes.</p>
</div>
  </mat-grid-tile>
  <mat-grid-tile style="border: 0px solid;"
  [colspan] = "1"
  [rowspan] = "2"> 
  <form class="example-form" style="margin-bottom: 100px;">
    <mat-form-field class="example-full-width">
      <mat-label>Name </mat-label>
      <input matInput placeholder="Ex. John" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>MobileNo </mat-label>
      <input matInput placeholder="Ex. +971 555555555" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email </mat-label>
      <input matInput placeholder="Ex. john@gmail.com" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>PrayerRequest</mat-label>
      <textarea matInput rows="4" placeholder="Ex. prayer for me..."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" style="float: right;">Submit Prayer Request</button>
   
  </form>
  </mat-grid-tile>
  <mat-grid-tile style="border: 0px solid;"
  [colspan] = "1"
  [rowspan] = "1"> 
  <div class="container">
    <img src="/assets/images/prayerreq1.jpg"   style="width:100%;height:100%;  "  /> 
   </div> 

  </mat-grid-tile>
 
  
</mat-grid-list>




    
    </div>