.bgcolor
{
    width: 100%;
    height: auto;
    /* background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
  }
p {
  border-bottom: 2px solid #FDDF7F;
   border-left: 4px solid #7ffd8c;
  /* background-color: white; */
  padding-left: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Cursive;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
  /* background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}
#gradient {
  border-left: 4px solid #affb0b;
  margin-top: 0%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  height: 20px;
  font-size: 20px;
  vertical-align: middle;
  text-align: left;
  max-width: 28%;
  margin-left: 3%;
  color: white;
  
  background: linear-gradient(to right, rgb(1, 7, 31), rgba(255, 122, 89,0));
}


#gradient1 {
  margin-top: 1%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  height: 20px;
  font-size: 20px;
  vertical-align: middle;
  text-align: left;
  max-width: 47%;
  margin-left: 24%;
  color: white;
  background-color: rgb(1, 7, 31);
  
  /* background: linear-gradient(to right, rgb(1, 7, 31), rgba(255, 122, 89,0)); */
}


.textalign
  {
    padding-left: 10px;
    color: white;
  }

  .bottom-left {
    position: absolute;
    margin-bottom: 2%;
     vertical-align: middle;
    text-align: center;
   
    font-weight: 200;
    font-size: 10px;
    /* color:#4863A0; */
    color: #fec50a;
    width: 99%;
    align-items: center;
    height: 10%;
}

.zoom {
  padding: 10%;
  transition: transform .2s; /* Animation */
  width: 70%;
  height: 10%;
  }  
.shadowBox {
  border: 2px solid;
  /* padding: 4%; */
  box-shadow: 1px 4px;
  width: 90%;
  height: 12%;
 }
 .column {
  float: left;
  align-items: center;
  margin-bottom: 1px;
  margin-left: 1%;
  padding: 0 2px;
  border:1;
  width: 23%;
  height: auto;
}
.card{
  width: 100%;
 }
 .container>div{
  flex: 0 50%;
  box-sizing: border-box;
}
.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


table {

  border-collapse: collapse;
  width: 100%;
  font-family: "Raleway",sans-serif!important;
line-height: 1.2143em!important;
font-size: small;
text-align: justify;
color: white;
background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
}

.center {
  margin-top: 0%;
  margin-left: 0%; 
  margin-right:  0%; 
  height: auto;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
}
mat-grid-tile {
  background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
  
}

/* this is for card */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  margin: auto;
  text-align: center;
  font-family: arial;

}



button {
  border: none;
  outline: 0;
  display: inline-block;
 
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  
  font-size: 18px;
}
button:hover{
  background-color:yellow;
  transform: scale(1.1); 
  transition: transform 1s;
  color: black;
  font-size: 18px;
  rotate: 10deg;
}

.button1{ 
  background-color: green;
  padding: 60px 20px;
  box-shadow: 5px 10px white;
 
}
.button2{ background-color: red;
  padding: 60px 50px;
  box-shadow: 5px 10px  white;
}
.button3{ background-color: blue;
  padding: 60px 20px;
  box-shadow: 5px 10px  white;
}
  .button4{ background-color:gray;
    padding: 60px 50px;
    box-shadow: 5px 10px  white;};



button:hover, a:hover {
  opacity: 0.9;
}

/* mat-grid-list.mat-grid-tile.card1 .foreground{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transform:translateX(100%);
  background-color:blue;
  transition:.5s ease;
}

.card1:hover .foreground{
  transform:translateX(0);
} */
/* div:hover {
  background-color: #FF1493;
} */