<div class="bgcolor" >
<div id="gradient">
  Our motto  <label>{{ "Name" | translate }}</label>
</div>
<p >Our motto is 'Unfold to the Untold'</p>
<div id="gradient">
  What it Means?
</div>
<p>{{"moto"| translate}}
  <!-- UTGC has a clear vision of perishing Souls. In obeying to the Great Commission Mark 16:15,16 
  <br>Unfolding the scriptures(Pure Word, Sound Doctrine) to the Untold, Untold people in general, Untold Telugu people in particular(pastoral care) -->
</p>

<div id="gradient">History </div>
<p>
  At UTGC we remember and honor the days of old and consider the many people that laid the ground work for our mission and purpose today.
  Take a look at out history and you will see how our past inspires our future. Unfold to the untold and the will of god at any cost was the driving force behind the formation of UTGC on 1991.    
  Brother K.P. Raju and brother Nalli Prabu Manohar families started the prayers and let the congregation with submission and sacrifices’ in their homes to praise God and to preach word of God in English and Telugu . Brother Bayya Christopher was the pastor. Under the leadership of pastor at that time the congregation increases to 100’s.  Then the church moves to the “The Evangelical compound”. First the prayer started in upper chapel 1 and it move to main hall 1.
  

</p>



<div class="container">

<mat-grid-list cols = "4" rowHeight = "205px">
   <mat-grid-tile 
   [colspan] = "3"
   [rowspan] = "1">  
   
   
   
   ​<div >
    <!-- <img src="/assets/images/gallery.jpg" alt="John" style="width:100%;height: 100%;"> -->
   <!-- <span> <button>𝐸𝒶𝓇𝓁𝓎 𝒟𝒶𝓎𝓈 𝑜𝒻 𝒰𝒯𝒢𝒞</button></span> -->
    <button class="button1" (click)="openDialog()" >Early Days of UTGC </button>
  </div>
  ​<div >
    <!-- <img src="/assets/images/church.jpg" alt="John" style="width:100%;height: 100%;"> -->
    <button class="button2">UTGC in TEC</button>
  </div>
  ​<div>
    <!-- <img src="/assets/images/ministry.jpg" alt="John" style="width:100%;height: 100%;"> -->
    <button class="button4" (click)="openwomanFellowShipDialog()">Our Minitries</button>
  </div>
  ​<div>
    <!-- <img src="/assets/images/after2006.jpg" alt="John" style="width:100%;height: 100%;"> -->
    <span><button class="button3">UTGC After 2006</button></span>
  </div>

   </mat-grid-tile>
   <mat-grid-tile style="align-items: auto;" 
   [colspan] = "1"
   [rowspan] = "2">
   
   <div class="center" >
      
    <table>
      <tr>
        <th colspan="2">Sunday Sequence Of the Worship Timings  </th>
       
      </tr>
      <!-- <tr>
        <th colspan="3"> 5pm to 7pm Every Sunday</th>
       
      </tr> -->
        <tr>
          
          <th>Time</th>
          <th>Desc</th>
        </tr>
        <tr>
         
          <td>5 pm - 5:10 	</td>
          <td>Starting Prayer</td>
        </tr>
        <tr>
        
          <td>5:10 pm - 5:30 </td>
          <td>Songs</td>
        </tr>
        <tr>
         
          <td>5.30pm - 5.45</td>
          <td>Weekly Announcement </td>
        </tr>
        <tr>
          
          <td>5.45pm - 5.55 </td>
          <td>Individual Worship & Collective Worship Song</td>
          
        </tr>
        <tr>
          
          <td>5.55pm - 6:05</td>
          <td>Offering Song</td>
        </tr>
        <tr>
          
          <td>6.05 - 6.45</td>
          <td>Message</td>
        </tr>
        <tr>
          
            <td>6.45PM - 7</td>
            <td>Closing prayer</td>
          </tr>
          <tr>
            
            <td>6.45PM - 7</td>
            <td>Closing prayer</td>
          </tr>
          <tr>
            
            <td>6.45PM - 7</td>
            <td>Closing prayer</td>
          </tr>
      </table>
      
  </div>
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "1"> <img src="/assets/images/pastorgaru.jpg" alt="John" style="width:100%;height: 100%;">
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "2"
   [rowspan] = "1"> 
   <div class="container">
   <div id="gradient">
     "Gospel?"
  </div>
  <div style="color: white; padding: 10px;margin-bottom: 7%;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Before we get ahead of ourselves, we should talk about what the word
     “Gospel” actually means. The word itself comes from a Greek word euangelion, which literally means “good news.” In the New Testament, it refers to the announcement that Jesus has brought the reign of God to 
    our world through his life, death, and resurrection from the dead.</div>

  </div>
   </mat-grid-tile>
</mat-grid-list>

</div>


<!-- 
<div class="container">
  <div class="bottom-left">
      <div class="column" >
          <div class="zoom"  >
              <div class="shadowBox"  >
                  <div class="card"  style="cursor: pointer;" (click)="openDialog()" >
                   
                    <div class="container" >
                         
                        
                          <img src="/assets/images/gallery.jpg"   style="cursor: pointer; width:80%;height:70% " >
                           
                         <h4 style="color: white; font-size: medium;">𝐸𝒶𝓇𝓁𝓎 𝒟𝒶𝓎𝓈 𝑜𝒻 𝒰𝒯𝒢𝒞</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="column">
          <div class="zoom">
              <div class="shadowBox">
                  <div class="card">
                    <div class="container" >
                      <button mat-button (click)="openDialog()">
                      <h4>UTGC in TEC</h4>
                      </button>
                   </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="column">
        <div class="zoom">
            <div class="shadowBox">
                <div class="card">
                  <div class="container" >
                    <button mat-button (click)="openwomanFellowShipDialog()">
                    <h4>Our Minitries</h4>
                    </button>
                 </div>
                </div>
            </div>
        </div>
    </div>
      <div class="column">
          <div class="zoom">
              <div class="shadowBox">
                  <div class="card">
                    <div class="container" >
                      <button mat-button (click)="openDialog()">
                      <h4>After 2006</h4>
                      </button>
                   </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
 </div>

 <div id="gradient1" style="margin-top: 8%;">
  Our Sequence Of the Worship Timings  5pm to 7pm Every Sunday
</div>
 -->




</div>
<footer class=""md-padding>
  <div  id="btmFooter" flex>
   <app-footer></app-footer>
  </div> 
</footer>