<div class="container" >

  <div style="background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
    <img src="/assets/images/gallery/g1.jpg" class="zoom"
      style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
    <img src="/assets/images/gallery/g2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g9.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
    <img src="/assets/images/gallery/g5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g7.jpg" class="zoom"
      style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
    <img src="/assets/images/gallery/g8.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g4.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g10.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
    <img src="/assets/images/gallery/g11.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g12.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g13.jpg" class="zoom"
      style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
    <img src="/assets/images/gallery/g14.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g15.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g39.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
    <img src="/assets/images/gallery/g16.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g17.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g18.jpg" class="zoom"
      style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
    <img src="/assets/images/gallery/g19.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g20.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g21.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
    <img src="/assets/images/gallery/g22.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
    <img src="/assets/images/gallery/g23.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
    
    <img src="/assets/images/gallery/g24.jpg" class="zoom"
    style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
  <img src="/assets/images/gallery/g25.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
  <img src="/assets/images/gallery/g26.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
  <img src="/assets/images/gallery/g27.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
  <img src="/assets/images/gallery/g28.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
  <img src="/assets/images/gallery/g29.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

  <img src="/assets/images/gallery/g30.jpg" class="zoom"
  style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
<img src="/assets/images/gallery/g31.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
<img src="/assets/images/gallery/g32.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
<img src="/assets/images/gallery/g33.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
<img src="/assets/images/gallery/g34.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
<img src="/assets/images/gallery/g35.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">


<img src="/assets/images/gallery/g36.jpg" class="zoom"
  style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
<img src="/assets/images/gallery/g37.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
<img src="/assets/images/gallery/g38.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    
  </div>
</div>
<footer class=""md-padding>
  <div  id="btmFooter" flex>
   <app-footer></app-footer>
  </div> 
</footer>