<div ><mat-grid-list cols="3" rowHeight="260px" gutterSize="0px" 
    style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); " >
    <mat-grid-tile style=" border: '0px double red'"><img class="img-size"
         src="/assets/images/logo.jpg" style="width:95%;height:100% ">
     </mat-grid-tile>
    <mat-grid-tile style=" border: '0px double green' " > 
     <mat-list  >
        <div id="gradient">
            Service Timings
          </div>
        
        <mat-list-item  style="height: 40px;" ><span class="color1" ><B>SUNDAY SERVICE: &nbsp;&nbsp;&nbsp;</B>5PM-7PM</span> </mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1" ><B>FASTING PRAYER   :</B>  &nbsp;&nbsp;&nbsp; EVERY TUESDAY 8PM - 10PM</span> </mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1"><B>Womans Prayer Meeting:</B> &nbsp;&nbsp;&nbsp; Every Friday 8PM - 10PM </span></mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1"><B>Mens Prayer Meeting:</B> &nbsp;&nbsp;&nbsp; Every Friday 8PM - 10PM </span></mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1"><B>All Night  Prayer:</B> &nbsp;&nbsp;&nbsp;3rd Saturday of Every Month</span></mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1"><B>Kids Ministry:</B> &nbsp;&nbsp;&nbsp; Every Sunday 5PM 7PM </span></mat-list-item>
 
    </mat-list>

</mat-grid-tile>
    <mat-grid-tile >
        <div class="color1">
            <br><br><br>
            <img  src=" /assets/images/pastor.jpg" 
            style="width: 200px;height: 160px;   float: left; margin: 3px;">
           <p>Pastor: Rev.Sisir Kumar</p> 
           <p >UTGC has been holding services in Abu Dhabi for the past 31 years. 
            Our motto is 'Unfold to the Untold'. Our hope is that UTGC is a place where you will find faithful preaching of the pure word with sound doctrine and pastoral care. 
            Our Telugu services are on Sundays at 5:00 pm. All are welcome to join us.
           
        </p>
       
       </div>

    </mat-grid-tile>
    </mat-grid-list>

    
    <app-cards></app-cards>
    <!-- <app-footer></app-footer> -->

</div>


    
<!-- <div class="div1"> -->
     <!-- <div id=slideset1>
        <img class="img-size" src="/assets/images/4.JPG" >
         <img class="img-size" src="/assets/images/6.JPG" >
        <img class="img-size" src="/assets/images/5.JPG" >
        <img class="img-size" src="/assets/images/1.JPG" >
        <img class="img-size" src="/assets/images/7.JPG" >
        </div>  -->
<!--                 
    <div class="bottom-left" 
        style="background-image: linear-gradient(to left, #000066 0%, #cc00cc 100%);">
            <div class="column"  >
                <div class="zoom"  >
                    <div class="shadowBox"  >
                        <div id="myDIV"  style="background-color: #4682B4;">
                        <div class="card"  >
                             <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
                            <div class="container"  >
                               <h2 class="txtcenter" >About Us</h2>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FFA500;">
                             <img src="/assets/images/contact.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #2ECC71;">
                             <img src="/assets/images/sermons.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Sermons</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FF1493;">
                             <img src="/assets/images/gallery.jpg"  [routerLink]="['/gallery']" style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Gallery</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #1E90FF;">
                             <img src="/assets/images/prayer.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Prayer Request</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    </div>
    <div class="bottom-content" >
        <mat-grid-list cols="6" rowHeight="70px" gutterSize="5px"  style="width: 99.5%;" >
    
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%;">
                Sunday Service
            </mat-grid-tile-header>
            <h5 style="color: #FFCC80;"> Every Sunday 5PM - 7PM</h5>
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                    Fasting Prayer
            </mat-grid-tile-header>
            Every Tuesday 8PM - 10PM
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                    Womans Prayer Meeting
            </mat-grid-tile-header>
           Every Friday  8PM - 10PM
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                   Mens Prayer Meeting
            </mat-grid-tile-header>
            Every Friday  8PM - 10PM
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                    All Night Prayer
            </mat-grid-tile-header>
           3rd Saturday of Every Month 
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                Kids Ministry
            </mat-grid-tile-header>
           Every  Sunday 5PM - 7PM
            </mat-grid-tile>
            </mat-grid-list>





       <p> Welcome to the United Telugu Gospel Church(UTGC) of Abu Dhabi,  
        At UTGC our Mission is to be and make authentic followers of Jesus Christ- to worship God passionately, 
        to preach and teach His word faithfully, and to server others in love, as we share His Gospel through out the world.
        <br> We invite you to join  us.
    
       </p>
        
       
  
    </div>


        
    -->
    <!-- <div class="dev1"> <app-footer></app-footer></div> -->
  
