

<mat-tab-group animationDuration="1000ms" style=" height: 80%; width: auto; " >
  <mat-tab>
    <ng-template mat-tab-label>
      <h5 >Early days of UTGC</h5>
    </ng-template>

    <div class="display-text"  >
      <span>
        Earlier in time, there were only a few of Telugu people were in a higher position jobs. 
Few had the opportunitues to be with there familes and other people only had flats. 
But people does not have the heart to start the lords ministry in  there homes, At that point of time brother KP Raju Garu and
Brother Nalli Prabhu Manohar Garu open there homes for the loards ministry and community gathering 
with camaraderie, self- sacrifice and courage. It was indeed a courages act as the rules were very structs in there days and gathering in homes were prohibited.
For this, the whole community is indepted to them. 
<br>
Initially meetings were held in Telugu and English languages. Firstly Br. Bayya Christopher was a pastor.
      </span>
    </div>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h5 >Photos</h5>
      </ng-template>
  
      
      </mat-tab>
  </mat-tab-group>
  
    
<mat-dialog-actions align="end" >

    <button mat-raised-button color="accent" mat-dialog-close  ><h5>Cancel</h5></button>

</mat-dialog-actions>