

.bgcolor
{
    width: 100%;
    height: auto;
    /* background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
  }
  mat-grid-list{
    background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);
     border: 0.5px solid; 
   
  }
  agm-map {
    height: 400px;
  }

  p
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      transform: translate(-0%, -6%);
      font-size: 24px;
      color: white;
      
     
  }

  
#gradient {
  border-left: 4px solid #affb0b;
  margin-top: 0%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  height: 20px;
  font-size: 20px;
  vertical-align: middle;
  text-align: left;
  max-width: 68%;
  margin-left: 3%;
  color: white;
  
  background: linear-gradient(to right, rgb(1, 7, 31), rgba(255, 122, 89,0));
}